# Copy this file to secrets.defaults and fill in your values.
# secrets.defaults is gitignored and will NOT be committed.
CONFIG_WIFI_SSID="my_ssid"
CONFIG_WIFI_PASSWORD="my_password"
CONFIG_GEMINI_API_KEY=""
CONFIG_CLOUD_TTS_API_KEY=""
